.paragraf{
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;    
    font-size: 18px;
    line-height: 175%;
    word-spacing: 3px;
    color: black;
}

.paragraf2{
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;    
    font-size: 16px;
    line-height: 155%;
    word-spacing: 3px;
}

.baslik{
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;    
}

.menu-color{
    background-color: white;
    
}

.icon{
    font-size: 25px;
    text-align: center;

}


a {
    text-decoration: none;
}


.kolon-yukseklik {
    height: 100%;
}
  

.blog-img-card{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

